@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #00000033;
  }

}


html {
  font-family: "Spoqa Han Sans Neo", "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
